# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# VS Code
.vscode/

# Runtime logs
logs/

# OS
.DS_Store
Thumbs.db

# Source art files
*.xcf

# Build artifacts
/build/
/pyinstaller-build/
/pyinstaller-dist/
/*.spec

# Ignore all dist folders at any level
/dist/
**/dist/
/.idea/misc.xml
.idea/choplifter.iml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.gitignore
.gitignore
